@model WebApplication1.Models.ViewModel.HighScore.IndexViewModel

@{
    ViewBag.Title = "High Score";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@ViewBag.Title List</h2>

@Html.ActionLink("Create New", "Create")

<table cellpadding="0" cellspacing="0" class="table table-striped">
    <tr class="col">
        <th class="col-6">Name</th>
        <th class="col-6">Score</th>
        <th class="w10p"></th>
    </tr>
    @foreach (var highScore in Model.HighScores)
    {
        <tr>
            <td>@highScore.Name</td>
            <td>@highScore.Score</td>
            <td><button type="button" class="btnDelete btn-danger" data-id="@highScore.Id" onclick="DeleteHs($(this).data('id'))">Delete</button></td>
        </tr>
    }
</table>
@Styles.Render("~/Content/highScoreCss")
@Scripts.Render("~/bundles/highScoreJs")